@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-black;
  @apply font-poppins;
  @apply md:overflow-hidden overflow-x-hidden
}

body.dark {
  @apply bg-black text-white;
}

section {
  scroll-snap-align: start;
  height: 100vh;
}
